.root{
    -fx-font-size: 18pt;
    -fx-base: rgb(132, 145, 47);
    -fx-background: rgb(0, 0, 0);
}

.bordered-panel{
    -fx-padding: 12 12 12 12;
}

.transportComponent {
    -fx-pref-width: 400;
    -fx-pref-height: 130;
    -fx-alignment: center;
}

.infoPanelComponent {
    -fx-pref-width: 400;
    -fx-pref-height: 30;
}

.descLabel {
    -fx-font-size: 12;
    -fx-wrap-text: true;
    -fx-text-fill: gray;
    -fx-pref-width: 200;
}